body {
    font-size: 80%;
    font-weight: 400;
    background-image: url("../resources/memphis-colorful.png");
}

.social-links a {
    font-size: 1.5rem;
    padding: 5px;
}

.logo {
    width: 6rem;
    height: 6rem;
    margin: 0px auto;
}

.tags .badge  {
    font-size: 100%;
}